<link rel="stylesheet" href="{{ asset('build/admin-dashboard-tile.css') }}">

<div class="admin-dashboard-tile">
    <h2 class="admin-tile-heading">{{ amountData }}</h2>
    <label class="admin-tile-label">{{ description }}</label>
    <a href="{{ link }}" class="btn primary button-large">
        {{ 'pages.admin_dashboard.description.table_export'|trans }}
    </a>
</div>